#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
li{
  list-style: none;
}
ul{
  background-color: #2b3b47;
  margin: 5px;
  padding:0px;
}
section{
    margin:0 auto;
    position: relative;
        float:left;
        width: 100%;
}