#root {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 100%;
}
body {
  font-family: sans-serif;
  height: 100%;
  letter-spacing: 1px;
  font-size: 2vw;
}
nav{
  position: relative;
  clear: both;
}
h1, h2 {
  font-family: sans-serif;
  font-size: 5vw;
}
ul {  
  list-style: none;
}


